@{
    ViewData["Title"] = "Dad-a-base";
}

<div class="text-center">
    <h1 class="text-center">Welcome to the Dad-a-base </h1>
    <h3 class="text-center"> A great/terrible collection of dad jokes</h3>
    <img src="/dads.jpg" class="img-fluid" />
    <div class="container">
        <a asp-area="" asp-controller="jokes"> Ready to impress the other dads at the BBQ?</a>
    </div>
</div>
