@model clesson.Models.joke

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>joke</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JokeSet" class="control-label">Joke set up</label>
                <input asp-for="JokeSet" class="form-control" />
                <span asp-validation-for="JokeSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JokePunchLine" class="control-label">Punch Line</label>
                <input asp-for="JokePunchLine" class="form-control" />
                <span asp-validation-for="JokePunchLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
