@model IEnumerable<clesson.Models.joke>

@{
    ViewData["Title"] = "Dad jokes";
}

<h1>Dad joke database</h1>

<p>
    <a asp-action="Create">Submit your own!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Joke set up
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JokeSet)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">See punch line</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
